{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:sort/recommended",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y", "unused-imports"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/self-closing-comp": "warn",
    "sort/imports": [
      "warn",
      {
        "groups": [
          { "regex": "(R|r)eact", "order": 1 },
          { "regex": "@mui\\/material", "order": 2 },
          { "type": "dependency", "order": 3 },
          { "type": "other", "order": 4 },
          { "regex": "\\.(png|jpg|svg)", "order": 5 }
        ]
      }
    ],
    "unused-imports/no-unused-imports": [
      "warn",
      {
        "varsIgnorePattern": "(R|r)eact"
      }
    ],
    "no-unused-vars": "off",
    "semi": "error",
    "arrow-return-shorthand": "off",
    "forin": "off",
    "member-access": "off",
    "no-require-imports": "off",
    "no-console": "off",
    "no-debugger": "error",
    "no-var": "error",
    "no-object-literal-type-assertion": "off",
    "no-shadowed-variable": "off",
    "no-submodule-imports": "off",
    "import-name": "off",
    "match-default-export-name": "off",
    "prefer-conditional-expression": "off",
    "ban-comma-operator": "off",
    "restrict-plus-operands": "off",
    "max-classes-per-file": "error",
    "no-increment-decrement": "off",
    "member-ordering": "off",
    "no-angle-bracket-type-assertion": "off",
    "no-bitwise": "off",
    "no-namespace": "off",
    "object-literal-sort-keys": "off",
    "jsx-no-lambda": "off",
    "no-constant-condition": "error",
    "no-null-keyword": "off",
    "object-shorthand-properties-first": "off",
    "quotes": ["error", "single"],
    "prefer-template": "off",
    "no-eval": "error",
    "prefer-object-spread": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-parameter-reassignment": "off",
    "arrow-parens": "off",
    "no-duplicate-imports": "error",
    "no-restricted-imports": ["error", { "patterns": [{
      "group": ["@mui/material/*"]
    }]}],
    "no-trailing-spaces": "error",
    "curly": "error",
    "max-len": [
      "error",
      190
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-else-return": "error",
    "indent": "error",
    "space-in-parens": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "block-spacing": "error",
    "no-return-await": "error",
    "no-case-declarations": "error",
    "prefer-switch": "off",
    "no-unsafe-any": "off",
    "radix": "error"
  }
}
